@import "./variables";

a {
  &:hover {
    opacity: 0.5;
  }
}

button {
  @extend a;
}

.container {
  max-width: $full-width * 0.8;
  // @include flex-center;
  @include flex-layout(end, start);
  background-color: $primary-color;

  margin: 0 auto;
}
