.parent {
  height: 30rem;
  width: 30rem;
  background-color: lightslategrey;
}

.child {
  height: 50%;
  width: 50%;
  background-color: lightskyblue;

  /* transition: all 1s ease-in; */
  animation: left-to-right 1s ease-in forwards infinite alternate;
}

.parent:hover .child {
  /* transform: translateX(100%); */
  /* animation: left-to-right 1s ease-in forwards infinite alternate; */
  animation-play-state: paused;
}

@keyframes left-to-right {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateY(100%) translateX(100%);
  }
  100% {
    transform: translateX(100%);
    background-color: lightpink;
  }
}
